.collections-item-content {
    font-size: 1.3em;
    font-weight: bolder;
}

.collections-item-content>a:link {
    color: #2A6E3F;
}

.collections-item-content>a:visited {
    color: #2A6E3F;
}

.collections-item-content>a:hover {
    color: #FF7242;
}

