.collections-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0px;
    column-gap: 10px;
}

.collections-item-content {
    font-size: 1.3em;
    font-weight: bolder;
}

.collections-item-content>a {
    display: block;
    padding: 2.5px 0;
    line-height: 1.5em;
    text-align: center;
}

.collections-item-content>a:link {
    color: #2A6E3F;
}

.collections-item-content>a:visited {
    color: #2A6E3F;
}

.collections-item-content>a:hover {
    color: #FF7242;
}

