/* 默认（白天模式） */
body {
  background-color: white;
  color: black;
}

[data-theme="dark"] body {
  background-color: #121212;
  color: white;
}

.pjax-leave-active {
  opacity: 0;
  background-color: inherit;
  /* 使用继承的背景色 */
}

.pjax-enter-active {
  transition: opacity 1s cubic-bezier(0.22, 0.61, 0.36, 1), background-color 1s ease-in-out, transform 1s ease-in-out;
  opacity: 1;
  background-color: inherit;
  /* 使用继承的背景色 */
}


/*侧边卡片的透明度 */
:root {
  --card-bg: rgba(255, 255, 255, .8);
}

[data-theme="dark"] {
  --card-bg: rgba(255, 255, 255, 0.2);
}

